| Bienvenido a #{projectName}
= '\n'
= '\n'
| Gracias por registrarte. Como se solicit贸, se cre贸 su cuenta. Estas son las credenciales de inicio de sesi贸n:
= '\n'
= '\n'
| Usuario: #{username}
| Correo: #{email}
= '\n'
= '\n'
| Iniciar Sesi贸n: #{loginURL}
= '\n'
= '\n'
| Gracias,
| #{projectName}
