h3 Bienvenido a #{projectName}
p Gracias por registrarte. Como se solicitó, se creó su cuenta. Estas son las credenciales de inicio de sesión:
table(border='1', cellpadding='5', cellspacing='0')
  tr
    td Usuario:
    td #{username}
  tr
    td Correo:
    td #{email}
  tr
    td Iniciar Sesión Aquí:
    td #{loginURL}
p
  | Gracias,
  br
  | #{projectName}
