block head
  title Registrarse
block body
  div.row
    div.col-sm-6
      div.page-header
        div.container-fluid
          div.row-fluid
          - function separar(x, simbolo) {
          -    if (x !== undefined && x !== '') {
          -        return x.replace(/\B(?=(\d{3})+(?!\d))/g, simbolo);
          -    }
          -    return '';
          - } 
            link(href='/css/reporte.css', rel='stylesheet')

            header.clearfix
            #logo
              img#area(src="data:image/png;base64,#{imagen}")
            h1 #{titulo}
            - if(estado !== 'Activo'){
            style.
              body:after {
              content: "ANULADO";
              font-size: 18em;
              threedText(20, black, -1, 0.5, 0.35);
              color: rgba(256, 0, 0, 0.5);
              z-index: 200;
              display: flex;
              align-items: center;
              justify-content: center;
              position: fixed;
              top: 500px;
              right: 0px;
              bottom: -2500px;
              left: 1500px;
              -webkit-pointer-events: none;
              -moz-pointer-events: none;
              -ms-pointer-events: none;
              -o-pointer-events: none;
              pointer-events: none;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              -o-user-select: none;
              user-select: none;
              -webkit-transform: rotate(303deg);
              -moz-transform: rotate(303deg);
              -ms-transform: rotate(303deg);
              -o-transform: rotate(303deg);
              transform: rotate(303deg);
              }
            -}
            #company.clearfix
              div Facturaci처n DTI
              div Fecha
                |  #{fecha}
              div
                | Brayan Soto
              div (320 701 9128)
              div
                a bysoto95@gmail.com
            #project
              legend IVA.REGIMEN COMUN
              div
                span N째 de Factura
                  a(style="font-size: 12px")  #{n_factura}
              div
                span Usuario
                |  #{usuario}
              div
                span Direcci처n
                |  #{direccion}
              div
                span Fecha
                |  #{hora}
              div
                span NIT
                |  #{nit}
              div
                span Cliente
                |  #{cliente}
              div
                span Vendedor
                |  #{vendedor}
              div
                span
                  div Forma de Pago : #{forma_pago}
              table.table
                thead
                  tr
                    th N째
                    th Nombre
                    th Fecha
                    th Cantidad
                    th Valor
                    th Valor Total
                  tbody
                  if(tabla !== undefined)
                    if(tabla !== null)
                      each post, i in tabla.data
                        tr
                          td #{i+1}
                          td #{ post.producto}
                          td
                            p(style="    font-size: 0.87em;margin: 7px 0px 10px -6px;") #{ post.fecha}
                          td #{ post.cantidad}
                          td #{ post.valor}
                          td #{ separar(post.precio+'',',')}
                main
                  #notices
                    .notice Lista de Compras

              .row.text-right
                .col-xs-3.col-xs-offset-7
                  strong
                    | Descuento:
                    | #{descuento}%
                .col-xs-3.col-xs-offset-7
                  strong
                    | SubTotal:
                    | $#{total.toFixed(2)}
                .col-xs-3.col-xs-offset-7
                  strong
                    | Total:
                    | $#{(total-(descuento/100)*total).toFixed(2)}
                .col-xs-3.col-xs-offset-7
                  strong
                    | Impuesto al Consumo:
                    | 0%
                .col-xs-3.col-xs-offset-7
                    | Valor Recaudado:
                    | $#{dinero_pagado}
                .col-xs-3.col-xs-offset-7
                    | Devolucion:
                    | $#{(dinero_pagado-total+(descuento/100)*total).toFixed(2)}

                footer
                  | Todos los derechos Reservados.
            div#cuerpo
